{% extends "base.html" %}
{% block title %}Enquiry Dashboard{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/adm_dashboard.css">

<link rel="stylesheet" href="/static/css/user.css">

{% endblock %}
{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
"Home": url_for("home"),
"Enquiry Dashboard": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
    <div class="row">
        {# Render sidebar #}
        {{ admin_sidebar("Enquiry Dashboard") }} {# changes which side is active #}
        <div class="col-lg-10 py-3 px-5"> {# sets navbar to the side #}
            <h2>Enquiry Dashboard</h2>
            <hr>
            <div>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Answered</button>
                        <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Unanswered</button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="table-responsive">
                            <table class="table table-light" >
                                <thead>
                                    <tr>
                                        <th>
                                        Total Enquiries Answered:
                                        </th>
                                        {% if answered_count == 0 %}
                                        <th colspan="8">0</th>
                                        {% elif answered_count == 1 %}
                                        <th colspan="8"> 1 </th>
                                        {% else %}
                                        <th colspan="8">{{ answered_count }} </th>
                                        {% endif %}
                    
                                    </tr>
                                    <tr>
                                        <th> Enquiry ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>User Type</th>
                                        <th>Enquiry Type</th>
                                        <th>Comments</th>
                                        <th>Reply</th>
                                        <th colspan = "2" style="text-align:center;"> Actions</th>
                    
                                    </tr>
                                </thead>
                                <tbody>
                                {% for enquiry in answered_enquiry_list %}
                                    <tr>
                                        <td>{{enquiry.get_count()}}</td>
                                        <td>{{enquiry.get_name()}}</td>
                                        <td>{{enquiry.get_email()}}</td>
                                        <td>{{enquiry.get_UserType()}}</td>
                    
                                        {% if enquiry.get_enquiry_type() == "B" %}
                                        <td>Question about Books</td>
                                        {% elif enquiry.get_enquiry_type() == "F" %}
                                        <td>Feedback</td>
                                        {% elif enquiry.get_enquiry_type() == "R" %}
                                        <td>Report Vulnerability</td>
                    
                                        {% endif %}
                                        <td>{{enquiry.get_comments()}}</td>
                                        <td>{{enquiry.get_reply()}}</td>
                    
                                        {% if enquiry.get_UserType() == "Customer" %}
                                        <td>
                                            <a href ="{{url_for('update_enq',id=enquiry.get_count())}}" class="btn btn-warning">Reply</a>
                                        </td>
                                        {% elif enquiry.get_UserType() == "Guest" %}
                                        <td>
                                            <a href =" {{url_for('mail_enq',id=enquiry.get_count())}}" class="btn btn-warning">Reply</a>
                                        </td>
                    
                                        {% endif %}
                                        <td>
                                            <form action="{{url_for('delete_enq',id=enquiry.get_count())}}" method="POST">
                                                <input type="submit" value="Delete" class="btn btn-danger">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                    
                                </table>
                        </div>
                        
                    </div>
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="table-responsive">
                            <table class="table table-light" >
                                <thead>
                                    <tr>
                                        <th>
                                        Total Enquiries Unanswered:
                                        </th>
                                        {% if unanswered_count == 0 %}
                                        <th colspan="8">0</th>
                                        {% elif unanswered_count == 1 %}
                                        <th colspan="8"> 1 </th>
                                        {% else %}
                                        <th colspan="8">{{ unanswered_count }} </th>
                                        {% endif %}
                    
                                    </tr>
                                    <tr>
                                        <th> Enquiry ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>User Type</th>
                                        <th>Enquiry Type</th>
                                        <th>Comments</th>
                                        <th>Reply</th>
                                        <th colspan = "2" style="text-align:center;"> Actions</th>
                    
                                    </tr>
                                </thead>
                                <tbody>
                                {% for enquiry in unanswered_enquiry_list %}
                                    <tr>
                                        <td>{{enquiry.get_count()}}</td>
                                        <td>{{enquiry.get_name()}}</td>
                                        <td>{{enquiry.get_email()}}</td>
                                        <td>{{enquiry.get_UserType()}}</td>
                    
                                        {% if enquiry.get_enquiry_type() == "B" %}
                                        <td>Question about Books</td>
                                        {% elif enquiry.get_enquiry_type() == "F" %}
                                        <td>Feedback</td>
                                        {% elif enquiry.get_enquiry_type() == "R" %}
                                        <td>Report Vulnerability</td>
                    
                                        {% endif %}
                                        <td>{{enquiry.get_comments()}}</td>
                                        <td>{{enquiry.get_reply()}}</td>
                    
                                        {% if enquiry.get_UserType() == "Customer" %}
                                        <td>
                                            <a href ="{{url_for('update_enq',id=enquiry.get_count())}}" class="btn btn-warning">Reply</a>
                                        </td>
                                        {% elif enquiry.get_UserType() == "Guest" %}
                                        <td>
                                            <a href =" {{url_for('mail_enq',id=enquiry.get_count())}}" class="btn btn-warning">Reply</a>
                                        </td>
                    
                                        {% endif %}
                                        <td>
                                    
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{loop.index}}">
                                                Delete
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{loop.index}}" tabindex="-1" aria-labelledby="exampleModalLabel{{loop.index}}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel{{loop.index}}">Modal title</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <form action="{{url_for('delete_enq',id=enquiry.get_count())}}" method="POST">
                                                        <input type="submit" value="Delete" class="btn btn-danger">
                                                    </form>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>

                                    
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        





{% endblock %}

