/* To test if CSS works */


/*
  Welcome to the adm_dashboard CSS used for Bras Basah Books Web Application
  Here will be every CSS used for all Bras Basah Books Web Application
  I. Structure of Footer and Navbar.css
  |
  ├─ 1.Body
  | Colour Palette for web pages (for us to self reference the colour choices)
  ├─ #FCEEE0, #4b8282 , #FFF
*/

/* --------------------------------------------------------------------------
    1. Body Styling
-------------------------------------------------------------------------- */

.center-align-text {
    text-align: center;
}

.p-align-text{
    width:500px;
    margin:0 auto;

}

.h-align-text{
    width:500px;
    margin:0 auto;

    font-family:playfairdisplay;
} 

.container-bg{
    background-color:#FFF;
    max-width:1000px;
    border-radius:20px;
    margin:0 auto;
    padding-bottom:10px;
    padding-top:10px;
}

.img-size{
    max-width: 500px;
    margin:0 auto;
    display:block;
}

.links {
    text-decoration: none; 
    color: #4b8282; 
}

:hover.links{
    color: #CB997E; 
}
