/* Body Styling */
.display-section {
  background-color: #fff;
}

/* Book Info Page */
.book-info img{
  width: 100%;
}

.book-info h2, .book-info h4, .review-header {
  font-weight: bolder;
}

.quantity-selector{
  width: 10%;
  padding: 5px;
  color: #4b8282;
}

.add-cart-button{
  background: #4b8282;
  color: white;
  width: 50%;
  font-size: 1.1em;
}

.add-cart-button:hover{
    color: white;
    opacity: 0.9;
}

.book-info p a{
  color: #4b8282;
}

.book-info p a:hover{
  opacity: 0.8;
}

a .card .card-body{
    color: #4b8282;
    text-decoration: none;
}


/* Reviews Section */

#ratingsDetails {
  background-color: #ecf4f4;
  border: 1px solid #d3e5e5;
  border-radius: 0.15rem;
}

#customerReviews {
  color: #212529;
}

.review-username {
  color: #4b8282;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
}

.review-stars {
  font-size: 0.8rem;
}

.review-stars.avg-ratings {
  font-size: 1.3rem;
}

.review-stars .fas.fa-star, .review-stars .far.fa-star, .review-stars .fas.fa-star-half-alt {
  color: #4b8282;
}

.review-ratings {
  font-size: 2rem;
}

.review-time {
  color: #999;
}
