
/* Product Carousel */
.carousel-control-prev .fa-chevron-left, .carousel-control-next .fa-chevron-right{
    font-size: 30px;
    color: #4b8282;
}

.slide .card{
    max-height: 500px;
    overflow-y: auto;
    border: #4b8282 solid 1px;
    background: #FFF9F3;
}

.slide .card img{
    width: 100%;
    margin-left: 12px;
}

.slide .card h2{
    font-weight: bold;
}

.slide .card h5{
 font-size: 1.2em;
}

.find-out-more{
    color: white;
    background: #4b8282;
}

.find-out-more:hover{
    background: #FFF9F3;
    color: #4b8282;
    border: solid 1px #4b8282;
}

.slide .card-text{
    padding: 10px 0px;
}

.card-text a:hover{
    opacity: 0.9;
}

/* Books Cards */
a{
    text-decoration: none;
    color: #4b8282;
}

a:hover{
    color: #4b8282;
}

img:hover{
    opacity: 0.9;
}

/* Reading Quotes */
.home_quote{
  margin-top: 40px;
  text-align: center;
}

.home_quote a{
  color: #4b8282;
}

.home_quote h5{
    padding-bottom: 20px;
}

.home_quote a:hover{
    text-decoration: underline;
    opacity: 0.9;
}

.padding-15px {
    padding-top: 15px;
    padding-bottom:15px;
}

.booklang {
    padding-top: 30px;
}

.carousel-control-prev:focus, .carousel-control-next:focus {
    border: none !important;
    box-shadow: none !important;
}
