/* To test if CSS works */


/*
  Welcome to the Standard CSS used for Bras Basah Books Web Application
  Here will be every CSS used for all Bras Basah Books Web Application
  I. Structure of Footer and Navbar.css
  |
  ├─ 1.Global
  ├─ 2.NavBar
  ├─ 3.Footer
  | Colour Palette for web pages (for us to self reference the colour choices)
  ├─ #000 , #10113f , #db3a49 , #FFF , #555 , #FFC07F ,#071013 (to be updated)
*/

/* --------------------------------------------------------------------------
    1. Body
-------------------------------------------------------------------------- */

body{
  background-color: #FCEEE0;
  font-family: 'Playfair Display', serif;
}


/* --------------------------------------------------------------------------
    2. Nav Bar
-------------------------------------------------------------------------- */


.brand-nav{
  padding-bottom: 0px;
}

.navbar{
  background-color: #4b8282;
}

#logo{
  width: 45px;
  height: 45px;
  margin-left: 5%;
}

#store_name{
  color: white;
  font-size: 1.2em;
  margin-left: 10px;
}

.navbar-expand-lg{
  padding-top: 0;
}

#first-nav-item{
  margin-left: 60px;
}

.active{
  font-weight: bold;
}

.nav-link{
  font-size: 1.1em;
  color: white;
}

.nav-item :hover{
  opacity: 0.9;
  color: white;
}

#search-field{
  margin-top: 8px;
}

.fa-search{
  background: white;
  color: #4b8282;
  border-radius: 3px;
  padding: 8px;
}

.nav-icon{
  font-size: 1.2em;
  margin-top: 8px;
}

/* --------------------------------------------------------------------------
    3. Footer
-------------------------------------------------------------------------- */

footer{
  background: #4b8282;
}

.fa-facebook, .fa-twitter, .fa-instagram{
  text-decoration: none;
  float: left;
  padding: 8px;
  font-size: 25px;
  width: 45px;
  text-align: center;
  margin-top: 15px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 50%;
  color: white;
  border: 2px solid white;
  margin-left: 65px;
}

.fa:hover, .footer-link:hover, .footer-link2:hover{
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

#copyright{
  text-align: right;
  margin-right: 20px;
}

#copyright, .footer-link2{
  color: darkgray;
}

.footer-link{
  color: white;
  text-decoration: none;
  margin-left: 58px;
}

.footer-link2{
  margin-right: 28px;
  text-decoration: none;
}

/* breadcrumb */
.breadcrumb-item a, .breadcrumb-item{
  margin-top: 20px;
  color:#4b8282;
  text-decoration: none;
  font-weight: normal;
}

/* Page Name */
.page-name{
   width: 100%;
   text-align: center;
   border-bottom: 2px solid #4b8282;;
   line-height: 0.1em;
   margin: 10px 0 20px;
   color:#4b8282;
}

.page-name span{
  background-color: #FCEEE0;
  padding:0 50px;
}
