{% extends "base.html" %}
{% block title %}Create FAQ{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/adm_dashboard.css">

{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Update FAQ": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {{ admin_sidebar("Create FAQ") }}
    <div class="col-lg-10 py-3 px-5">
      <div class="d-flex flex-column">
        <h2 class="m-0">FAQ  Update</h2>
        <p class="m-0">Here you Update the FAQ forms needed for the website</p>
      </div>
      <hr>
      <form method="POST" action="">
        <div class="form-group mb-3">
          {{ render_field(form.title, class="form-control") }}
        </div>
        <div id="prof">
          <div class="form-group mb-3">
            {{ render_field(form.desc, class="form-control") }}
          </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <input type="reset" value="Delete" class="btn btn-danger"/>
      </form>
    </div>
  </div>
</div>

{% endblock %}
