{% extends "base.html" %}

{% block title %}Add Book{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/addbook.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}
{% from "includes/_staff_sidebar.html" import staff_sidebar %}
{% from "includes/_form.html" import render_field %}


{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Dashboard": url_for("dashboard"),
  "Inventory": url_for("inventory"),
  "Add Book": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {% if g.user.role == "admin" %}
    {{ admin_sidebar("Add Book") }}
    {% elif g.user.role == "staff" %}
    {{ staff_sidebar("Add Book") }}
    {% endif %}
    <div class="d-flex flex-column col-lg-10 py-3 px-5">
      <h2>Add Book</h2>
      <hr>
      <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
          <div class="col-md grid-form-spacer">
            <div class="form-group">
              {{ render_field(form.language, class="form-control") }}
           </div>
          </div>
          <div class="col-md grid-form-spacer">
            <div class="form-group">
              {{ render_field(form.category, class="form-control") }}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md d-flex flex-column">
            <div class="form-group grid-form-spacer">
              {{ render_field(form.title, class="form-control") }}
            </div>
            <div class="form-group grid-form-spacer">
              {{ render_field(form.author, class="form-control") }}
            </div>
            <div class="form-group grid-form-spacer">
              {{ render_field(form.price, class="form-control") }}
            </div>
            <div class="form-group grid-form-spacer">
              {{ render_field(form.stock, class="form-control") }}
            </div>
            <div class="form-group grid-form-spacer">
              {{ render_field(form.description, class="form-control", rows="10") }}
            </div>
            <div class="form-group mt-auto">
              <input type="submit" value="Add Book" class="btn btn-primary"/>
            </div>
          </div>

          <div class="col-md d-flex flex-column">
            <div class="form-group grid-form-spacer">
              <label for="bookCoverField">Book Cover</label>
              <input type="file" class="form-control" id="bookCoverField" required name="bookimg" accept="image/*">
              <div class="book-cover-field mt-2">
                <div class="img-wrapper img-2-3 img-thumbnail">
                    <img class="d-none" id="bookcover" alt="Book Cover" src="">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-auto">
          
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/add_book.js"></script>
{% endblock %}
