{% extends "base.html" %}
{% block title %}Inventory{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/user.css">

{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}
{% from "includes/_staff_sidebar.html" import staff_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Dashboard": url_for("dashboard"),
  "Inventory": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {% if g.user.role == "admin" %}
    {{ admin_sidebar("Inventory") }}
    {% elif g.user.role == "staff" %}
    {{ staff_sidebar("Inventory") }}
    {% endif %}
    <div class="d-flex flex-column col-lg-10 py-3 px-5">
      <h2>Inventory</h2>
      <hr>
      <div> {# Display number of books #}
        {% if count == 0 %}
        <p>There are no books.</p>
        {% elif count == 1 %}
        <p>There is 1 book.</p>
        {% else %}
        <p>There are {{ count }} books.</p>
        {% endif %}
      </div>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Cover</th>
              <th>Language</th>
              <th>Title</th>
              <th>Author</th>
              <th>Price($)</th>
              <th>Quantity</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
          {% for book in books_list %}
            <tr>
              <td>{{ book.book_id }}</td>
              <td>
                <img src="{{ book.cover_img }}" alt="{{ book.title }}" class="inventory-book-cover">
              </td>
              <td>{{ book.language }}</td>
              <td>{{ book.title }}</td>
              <td>{{ book.author }}</td>
              <td>{{ book.price }}</td>
              <td>{{ book.stock }}</td>
              <td><a href="{{ url_for('view_book', book_id=book.book_id) }}" data-bs-toggle="tooltip" title="View"><i class="actions-button fa fa-eye"></i></a></td>
              <td><a href="{{ url_for('update_book', book_id=book.book_id)}}" data-bs-toggle="tooltip" title="Update"><i class="actions-button fa fa-pen"></i></a></td>
              <td>
                <button id="deleteButton_{{book.book_id}}" class="btn me-auto p-0 delete-book-button" data-bs-toggle="tooltip" title="Delete">
                  <i class="actions-button fa fa-trash"></i>
                </button>
                <button type="button" id="toggleModal_{{book.book_id}}" class="d-none" data-bs-toggle="modal" data-bs-target="#myModal_{{book.book_id}}"></button>
                <form class="" action="{{url_for('delete_book', book_id=book.book_id)}}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                  <!-- The Modal -->
                  <div class="modal fade" id="myModal_{{book.book_id}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Delete Confirmation</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          Are you sure you want to delete {{book.title}} by {{book.author}} priced at ${{book.price}}?
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <input type="submit" value="Delete" class="btn btn-danger">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        </div>

                      </div>
                    </div>
                  </div>

                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="mt-auto">
        <a href="{{ url_for('add_book') }}" class="btn defaultbtn">Add Book</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/inventory.js"></script>
{% endblock %}
