{% extends "base.html" %}

{% block title %}Manage Staff{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_admin_sidebar.html" import admin_sidebar %}
{% macro generate_link(page_num) %}
  {{ url_for("manage_staff") }}?page={{ page_num }}
{% endmacro %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Dashboard": url_for("dashboard"),
  "Manage Staff": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {{ admin_sidebar("Manage Staff") }}
    <div class="d-flex flex-column col-lg-10 py-3 px-5">
      <div class="d-flex">
        <h2 class="me-auto">Staff account overview</h2>
        <button type="button" class="btn btn-primary" id="addUserButton" data-bs-toggle="modal" data-bs-target="#addUser">
          Add New Staff
        </button>
      </div>
      <hr>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for user in display_users %}
            <tr class="account-row">
              {# user-details-<type> classes are used for passing data to the javascript function #}
              {# To be removed/change if using API #}
              <div class="user-details-profile-pic d-none">{{ user.profile_pic }}</div>
              <div class="user-details-user-id d-none">{{ user.user_id }}</div>
              <td class="user-details-username">{{ user.username }}</td>
              <td class="user-details-name">{{ user.name or "-" }}</td>
              <td class="user-details-email">{{ aws_decrypt(user.email) }}</td>
              <td class="account-actions d-flex">
                <button class="view-button btn me-auto p-0" data-bs-toggle="tooltip" title="View">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="delete-button btn me-auto p-0" data-bs-toggle="tooltip" title="Delete">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="account-footer clearfix mt-auto">
        <div class="hint-text">
          Showing
          <b>
          {% if total_entries > 1 %}
            {{ entries_range[0] }}-{{ entries_range[1] }}
          {% else %}
            {{ total_entries }}
          {% endif %}
          </b>
          out of <b>{{ total_entries }}</b> users
        </div>
        <ul class="pagination mb-0">
          <li class="page-item {{ 'disabled' if first_page == active_page }}">
            <a class="page-link" href="{{ generate_link(first_page) }}" data-bs-toggle="tooltip" title="Start"><span>&laquo;</span></a>
          </li>
          <li class="page-item {{ 'disabled' if prev_page == active_page }}">
            <a class="page-link" href="{{ generate_link(prev_page) }}" data-bs-toggle="tooltip" title="Previous"><span>&lsaquo;</span></a>
          </li>
          {% for page_num in page_list %}
          <li class="page-item {{ 'active disabled' if page_num == active_page }}">
            <a class="page-link" href="{{ generate_link(page_num) }}">{{ page_num }}</a>
          </li>
          {% endfor %}
          <li class="page-item {{ 'disabled' if next_page == active_page }}">
            <a class="page-link" href="{{ generate_link(next_page) }}" data-bs-toggle="tooltip" title="Next"><span>&rsaquo;</span></a>
          </li>
          <li class="page-item {{ 'disabled' if last_page == active_page }}">
            <a class="page-link" href="{{ generate_link(last_page) }}" data-bs-toggle="tooltip" title="End"><span>&raquo;</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
{% from "includes/_login_render_field.html" import render_field %}
{# Displays flash sign up error #}
{% macro display_flash_error(category) %}
  {% with messages = get_flashed_messages(category_filter=(category)) %}
    {% if messages %}
      {% for message in messages %}
        <div class="invalid-feedback display-feedback">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
{% macro display_error_span(error_name) %}
  {% if g.errors.pop(error_name, False) %}
    <span class="d-none display-invalid"></span>
  {% endif %}
{% endmacro %}

{# Add User Modal #}
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserLabel">Add New Staff</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" method="POST" action="" novalidate>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <div class="mb-4">
            {{ display_error_span("CreateUserUsernameError") }}
            {{ render_field(create_user_form.username, "Username should be 3-20 characters long", class="form-control", placeholder="Username") }}
            {{ display_flash_error("create-user-username-error") }}
          </div>
          <div class="mb-4">
            {{ display_error_span("CreateUserEmailError") }}
            {{ render_field(create_user_form.email, "Please enter a valid email like example@email.com", class="form-control", placeholder="Email") }}
            {{ display_flash_error("create-user-email-error") }}
          </div>
          <div class="mb-4">
            {{ render_field(create_user_form.password, "Password should be at least 8 characters long", class="form-control", placeholder="Password") }}
          </div>
          <div class="mb-4">
            {{ render_field(create_user_form.confirm, "Please confirm your password", class="form-control", placeholder="Confirm Password") }}
          </div>
          <input type="reset" class="d-none" id="addUserReset"/>
          <input type="submit" value="SIGN UP" class="d-none" id="addUserSubmit"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="submitAddUserButton" type="button" class="btn btn-primary">Create Staff</button>
      </div>
    </div>
  </div>
</div>

{# View User Modal #}
<button type="button" class="d-none" id="viewUserButton" data-bs-toggle="modal" data-bs-target="#viewUser"></button>
<div class="modal fade" id="viewUser" tabindex="-1" aria-labelledby="viewUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewUserLabel">View Staff</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <dl class="row">
          <dt class="col-sm-3 mb-2 mt-auto">Picture</dt>
          <dd class="col-sm-9">
            <div class="view-user-profile-pic">
              <div class="img-wrapper img-1-1">
                <img src="" alt="" id="viewUserProfilePic">
              </div>
            </div>
          </dd>
          <dt class="col-sm-3">Username</dt>
          <dd class="col-sm-9" id="viewUserUsername"></dd>
          <dt class="col-sm-3">Name</dt>
          <dd class="col-sm-9" id="viewUserName"></dd>
          <dt class="col-sm-3">Email</dt>
          <dd class="col-sm-9" id="viewUserEmail"></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{# Delete User Modal #}
<button type="button" class="d-none" id="deleteUserButton" data-bs-toggle="modal" data-bs-target="#deleteUser"></button>
<form method="POST" action="" class="d-none">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  {{ delete_user_form.user_id(id="deleteUserField")|safe }}
  <input type="reset" class="d-none" id="deleteUserReset"/>
  <input type="submit" value="SIGN UP" class="d-none" id="deleteUserSubmit"/>
</form>
<div class="modal fade" id="deleteUser" tabindex="-1" aria-labelledby="deleteUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteUserLabel">Delete Staff</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <b class="display-username"></b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        {# Very long name but it's cuz i don't want conflicts lmao #}
        <button id="submitDeleteUserButton" type="button" class="btn btn-danger">Delete Staff</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/manage_accounts.js"></script>
{% if form_trigger %}
<script src="/static/js/manage_accounts_trigger_form.js"></script>
<div id="formTriggerJs" class="d-none">{{ form_trigger }}</div>
{% endif %}
{% endblock %}
