{% extends "base.html" %}

{% block title %}Update Book{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/addbook.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}

<!--<h1 class="display-4 padding-top">Add Book</h1>-->

{{ render_breadcrumb({
  "Dashboard": url_for("dashboard"),
  "Inventory": url_for("inventory"),
  "Update Book": "#"
}) }}

<div class="d-flex justify-content-center align-items-center h-100">
<div class="card">
<div class="card-header">
  <h2 class="m-0">Update Book</h2>
</div>
<form method="POST" enctype="multipart/form-data" action="">

  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.language, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.category, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.title, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.author, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.price, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.stock, class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col grid-form-spacer">
      <div class="form-group">
        {{ render_field(form.description, class="form-control") }}
      </div>
    </div>
    <div class="col grid-form-spacer">
      <div class="form-group">
        <label for="bookimg">Book Cover</label>
        <input type="file" name="bookimg" id="bookimg" class="form-control" style="margin-bottom: 0.5rem" accept="image/*" onchange="document.getElementById('bookcover').src = window.URL.createObjectURL(this.files[0])">
        <img id="bookcover" alt="Book Cover" src="" width="100px" height="150px">
      </div>
    </div>
  </div>

  <div class="grid-form-spacer submitpadding">
    <input type="submit" value="Update Book" class="btn btn-primary themecolor submitcenter"/>
  </div>
</form>

</div>
</div>
{% endblock %}

{% block footer %}
  {% include 'includes/_footer.html' %}
{% endblock %}

