{# Footer #}
<footer class="footer mt-auto pt-3">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-9">
      <a href="https://www.instagram.com/nanyangpoly/" target="_blank" class="fab fa-instagram"></a>
      <a href="https://www.facebook.com/nanyangpoly/" target="_blank" class="fab fa-facebook"></a>
      <a href="https://twitter.com/nyptweets" target="_blank" class="fab fa-twitter"></a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-6 col-9">
        <a href="{{ url_for('about') }}" class="footer-link">About Us</a>
        <a href="/faq" class="footer-link">FAQs</a>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-11">
        <p id="copyright">&copy; 2022 BrasBasahBooks. All Rights Reserved. </p>
    </div>
    <div class="col-lg-3 col-md-5 col-8">
      <a href="/tos" class="footer-link2">Terms of Use</a>
      <a href="/pp" class="footer-link2">Privacy Policy</a>
    </div>
  </div>
</footer>
