{% macro render_field(field, message) %}
  {% set display_error = field.errors and g.errors.pop("DisplayFieldError", False) %}
  {% if display_error %}<span class="d-none display-invalid"></span>{% endif %}
  {{ field(**kwargs)|safe }}
  {% if message %}
    <div class="invalid-feedback">{{ message }}</div>
  {% endif %}
  {% if display_error %}
    {% for error in field.errors %}
      {% if error %}
        <div class="invalid-feedback display-feedback">{{ error }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}
