{% set is_logged_in = g.user is not none %}
{% set is_admin = is_logged_in and g.user.role in ["admin", "staff"] %}
<!-- Brand name and Logo -->
<nav class="navbar brand-nav d-none d-lg-block">
  <div class="container-fluid">
    {% if is_admin %}
    <a class="navbar-brand" href="{{ url_for('dashboard') }}">
      <img src="/static/img/bbblogo.png" alt="BrasBasahBooks Logo" class="d-inline-block" id="logo">
      <span id="store_name">BrasBasahBooks</span>
    </a>
    {% else %}
    <a class="navbar-brand" href="/">
      <img src="/static/img/bbblogo.png" alt="BrasBasahBooks Logo" class="d-inline-block" id="logo">
      <span id="store_name">BrasBasahBooks</span>
    </a>
    {% endif %}
  </div>
</nav>
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg d-none d-lg-block">
  <div class="container-fluid">
      <ul class="navbar-nav">
      {# Display a different nav bar for different admins #}
      {% if not is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}" id="first-nav-item">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('books', sort_this='English') }}">English Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('books', sort_this='Chinese') }}">Chinese Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('books', sort_this='all') }}">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
      {% endif %}
      </ul>

      <ul class="nav justify-content-end">
        {% if not is_admin %}
        <form class="d-flex" method="GET" action="{{ url_for('books', sort_this='all') }}">
          <li>
            <input name="q" class="form-control" type="search" placeholder="Search..." aria-label="Search" id="search-field" required>
          </li>
          <li>
            <button class="btn nav-link" type="submit"><i class="fa fa-search"></i></button>
          </li>
        </form>
        {% endif %}
        <li class="nav-item {{ 'me-2' if is_admin }}">
          <div class="dropdown">
            {% if is_logged_in %}
            <a class="nav-link" href="{{ url_for('account') }}">
              <i class="fa fa-user nav-icon"></i>
            </a>
            {% else %}
            <a class="nav-link login-link" href="{{ url_for('login') }}">
              <i class="fa fa-user nav-icon"></i>
            </a>
            {% endif %}
            <div class="dropdown-content account-link-display">
            {% if is_logged_in %}
              {% if not is_admin %}
              <a href="{{ url_for('account') }}">Account</a>
              <a href="{{ url_for('my_orders') }}">Orders</a>
              {% endif %}
              <div id="csrf_token" class="d-none">{{ csrf_token() }}</div>
              <button type="button" id="logoutButton">Logout</button>
            {% else %}
              <a class="login-link" href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('sign_up') }}">Sign Up</a>
            {% endif %}
            </div>
          </div>
        </li>
        {% if not is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cart') }}"><i class="fa fa-shopping-cart nav-icon"></i></a>
        </li>
        {% endif %}
      </ul>
  </div>
</nav>

<nav class="mobile-nav d-block d-lg-none fixed-top">
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img src="/static/img/bbblogo.png" alt="BrasBasahBooks Logo" class="d-inline-block" id="mobile-logo"><i class="fa fa-bars"></i></button>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h3 id="offcanvasRightLabel">BrasBasahBooks</h3>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body mobile-canvas">
      <ul>
        <table>
          <tr>
            <td>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('account') }}"><i class="fa fa-user"></i><h5>Profile</h5></a>
              </li>
            </td>
            <td>
            {% if not is_admin %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('cart') }}"><i class="fa fa-shopping-cart"></i><h5>Cart</h5></a>
              </li>
            {% endif %}
            </td>
          </tr>
        </table>
        {# Display a different nav bar for admins #}
        {% if is_admin %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_book') }}">Add Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('inventory') }}">Inventory</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manage_orders') }}">Manage Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manage_users') }}">Manage Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('manage_staff') }}">Manage Staff</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}" id="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_books/English">English Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_books/Chinese">Chinese Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all_books/all">All Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('about') }}">About</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{# Loads login link #}
<script type="module" src="/static/js/navbar_login.js"></script>
