{% macro render_sidebar(name_to_target_dict) %}
<div class="sidebar container col-lg-2 p-3">
  <div class="d-flex flex-column">
    <ul class="nav nav-pills nav-justified flex-lg-column">
      {% for name, target in name_to_target_dict.items() %}
        <li class="nav-item">
          <a href="{{ target }}" class="nav-link {% if target == '#' %}active disabled{% endif %} text-lg-start">
            {{ name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
