Hi name,
<br/>
We've received your request to reset your BrasBasahBooks account password.
<br/><br/>
Click <a href="{{ link }}">here</a> to set a new password for your account.
<br/><br/>
If the button above does not work please copy the link below in your browser:
<br/>
<a href="{{ link }}">{{ link }}</a>
<br/><br/>
Please note that reset link will expire in 15 minutes.
<br/>
Please do not share this link with anyone else.
<br/>
If you didn't issue a password reset you can safely ignore this email.
<br/><br/>
Have a nice day,
<br/>
BrasBasahBooks
