{% extends "base.html" %}

{%block stylesheets %}
<link rel="stylesheet" href="/static/css/about.css">
{%endblock%}

{% block content %}

<div class="container overflow-hidden">
    <div class="container-bg">
        
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <h1 class="h-align-text display-1">About </h1>
                    <h2 class="h-align-text display-2">BrasBasahBooks</h2>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <img src="/static/img/about.jpg" class="img-fluid img-size" alt="Image of Bras Basah">
                    <p class="p-align-text center-align-text">

                        <cite  title="Bras Basah Image"> 
                            <a class="links" href="https://www.brasbasahcomplex.com/"> Basah Stair well </a>
                         </cite> 

                        &nbsp; By Bras Basah Complex

                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <p class="p-align-text" > 
                        Bras Basah Complex is known as City of Books,
                        a mall that is well known for its huge collection of bookstores. 
                        Since the 1980s, this place has allowed many book merchants to come together to make book sales. 
                        It has since become a cultural heritage for arts and cultures. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <p class="p-align-text" > 
                        With the onset of Covid-19, many businesses have seen a decline in physical sales. 
                        These are due to various reasons such as less customers shopping physically due to
                         the fear of contracting the virus, ease of online shopping and more. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <p class="p-align-text" > 
                        As Singaporeans vote with their wallet and convenience stores in Bras Basah Complex which did not manage to create a digital presence to 
                        adapt to the new sudden changes are facing a threat to their existence.
                        The aim of this project is to create a digital presence for the book stores in Bras Basah Complex.
                        The project will be a website that will allow users to browse the books in the store and also to buy the books online.
                    </p>
                </div>
            </div>
        </div>

        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3">
                    <p class="p-align-text" > 
                        We hope you will find a book in the store that will be interesting in this website.
                    </p>
                    <p class="p-align-text">
                        Thank you for supporting this project of ours.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}