{% extends "base.html" %}

{% block title %}BrasBasahBooks Book Info{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/books.css">

{% endblock %}

{% block content %}
<!-- put contents here-->
<!-- breadcrumb -->
    {% for book in currentbook %}
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="http://127.0.0.1:5000/ ">Home</a></li>
        <li class="breadcrumb-item"><a href="#">All Books</a></li>
        <li class="breadcrumb-item"><a href="#">{{ book.get_language() }} Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ book.get_title() }}</li>
      </ol>
    </div>


      <div class="row justify-content-center book-info">
        <div class="col-4">
          <img src="{{ book.get_img() }}" alt="The Chronicles of Narnia">
        </div>
        <div class="col-6">
          <h2>{{ book.get_title() }}</h2>
          <p>By: {{ book.get_author() }}</p>
          <p>Book ID: <span>{{ book.get_book_id() }}</span></span></p>
          <p>Language: <span>{{ book.get_language() }}</span></p>
          <p>Category: <span>{{ book.get_category() }}</span></p>
          <p>Age: <span>{{ book.get_age() }}</span></p>

          <h4>$<span>{{ book.get_price() }}</span></h4>

          <form method="POST" action="/addtocart/{{ book.get_book_id() }}">
              <input type="number" class="quantity-selector" name="quantity" min="1" value="1">
              {% if book.get_action() == "Buy and Rent" %}
              <input type="submit" onclick="add_to_buy()" class="btn add-cart-button" value="ADD TO CART">
              <p>Alternatively, you may want to <a href="/addtorent/{{ book.get_book_id() }}">rent</a> this at {{ "$%.2f"|format((book.get_price()|float)*0.1) }} for 14 days.</p>
              {% elif book.get_action() == "Rent" %}
              <input type="submit" onclick="add_to_buy()" class="btn add-cart-button" value="ADD TO CART" disabled>
              <p>This book is only available for <a href="/addtorent/{{ book.get_book_id() }}">renting</a> at {{ "$%.2f"|format((book.get_price()|float)*0.1) }} for 14 days.</p>
              {% elif book.get_action() == "Buy" %}
              <input type="submit" onclick="add_to_buy()" class="btn add-cart-button" value="ADD TO CART">
              <p>This book is not available for renting.</p>
              {% endif %}
          </form>

          <h5>Description</h5>
          <p>{{ book.get_desc() }}</p>
        </div>
      </div>
    {% endfor %}


    <div class="row justify-content-center book-info">
      <div class="col-10">
        <h4>You might also like...</h4>
        <div class="row row-cols-2 row-cols-md-4 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static',filename='img/cover2.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Book Title</h5>
                <p class="card-text">$99.99</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static',filename='img/cover2.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Book Title</h5>
                <p class="card-text">$99.99</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static',filename='img/cover2.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Book Title</h5>
                <p class="card-text">$99.99</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static',filename='img/cover2.png') }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Book Title</h5>
                <p class="card-text">$99.99</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}
<!-- put js here -->
{% endblock %}
