{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/allbooks.css">

{% endblock %}

{% block content %}

{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Books": "#"
}) }}

<!-- Search Bar -->
<form class="d-flex" method="GET">
  <div class="input-group">
    <input name="q" class="form-control" type="search" placeholder="Search for books here..." aria-label="Search" value="{{ query }}" required>
    <button class="btn btn-primary why-kelly" type="submit"><i class="fa fa-search"></i></button>
  </div>
</form>

<div class="row justify-content-center">

  <div id="expand">
    <!-- ----------------------------- Filter ----------------------------- -->
    <div class="filters">
      {% if query %}
      <div class="results-yielded float-left">
        Your search for "{{ query }}" yielded {{ books_list|length or "no" }} results
      </div>
      {% endif %}
      <div class="dropdown float-right">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">Sort By</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this='latest') }}">Latest</a></li>
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this='name_a_to_z') }}">Name (A to Z)</a></li>
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this='name_z_to_a') }}">Name (Z to A)</a></li>
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this='price_low_to_high') }}">Price (Low to High)</a></li>
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this='price_high_to_low') }}">Price (High to Low)</a></li>
        </ul>
      </div>
      <div class="dropdown float-right">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">Filter Language</button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            {% if language_list|length == 0 %}
            <li><a class="dropdown-item">No books at the moment</a></li>
            {% else %}
            {% for language in language_list %}
          <li><a class="dropdown-item" href="{{ url_for('books', sort_this=language) }}">{{ language }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
      </div>
    </div>

    <br><br>

    <!-- All products -->
    <div class="row justify-content-center">
      <div class="col-12">
          {% if books_list|length == 0 %}
          <h3><center>Oops...</center></h3>
          <h3><center>Try searching for something else.</center></h3>
          {% else %}
          <div class="row row-cols-2 row-cols-md-4 g-4">
            {% for book in books_list %}
            <div class="col">
              <a href="{{ url_for('book_info', book_id=book.book_id) }}">
                  <div class="card h-100">
                  <img src="{{ book.cover_img }}" class="card-img-top" alt="{{ book.title }}" width="259" height="371.56">
                  <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text">${{ "%.2f"|format(book.price|float) }}</p>
                  </div>
                  </div>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
