{% extends "base.html" %}

{% block title %}BrasBasahBooks Book Info{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/books.css">

{% endblock %}

{% block content %}
<!-- put contents here-->
<!-- breadcrumb -->
    <div aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ ">Home</a></li>
        <li class="breadcrumb-item"><a href="#">All Books</a></li>
        <li class="breadcrumb-item"><a href="#">English Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">Book Title</li>
      </ol>
    </div>

    <!-- ----------------------------- Filter ----------------------------- -->

    <div class="row justify-content-center">
      

{% endblock %}

{% block scripts %}
<!-- put js here -->
{% endblock %}