{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/books.css">

{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "All Books": url_for("books", sort_this=""),
  book.title: "#"
}) }}

<div class="row justify-content-center book-info">
  <div class="col-4">
    <img src="{{ book.img }}">
  </div>
  <div class="col-6">
    <h2>{{ book.title }}</h2>
    <p>By: {{ book.author }}</p>
    <p>Language: <span>{{ book.language }}</span></p>
    <p>Genre: <span>{{ book.genre }}</span></p>

    <h4>$<span>{{ book.price }}</span></h4>

    <form method="POST" action="{{ url_for('add_to_cart') }}">
      <input type="text" class="d-none" name="book_id" value="{{ book.book_id }}">
      <input type="number" class="quantity-selector" name="quantity" min="1" value="1">
      <input type="submit" class="btn add-cart-button" value="ADD TO CART">
    </form>

    <h5>Description</h5>
    <p>{{ book.desc }}</p>
  </div>
</div>
{% endblock %}
