{% extends "base.html" %}

{% block title %}BrasBasahBooks Cart{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/cart.css">

{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "Shopping Cart": "#"
}) }}
<h2 class="page-name"><span>Shopping Cart</span></h2>

<h6 class="cart-label d-md-block">For Payment</h6>
<div class="row">
  {% if buy_count == 0 %}
  <div class="col-md-9 empty-cart">
    <h5>Your cart is empty. <a href="{{ url_for('home') }}">Browse more</a>.</h5>
  </div>
  {% else %}
  <!-- Update Cart -->
  <div class="col-lg-9 buying-cart container">
    {% for item, quantity in cart_items %}
      <div class="row">
        <div class="container">
            <div class="d-flex item-background">
                <!-- Book Image, Title, Price, No. of books-->
                <div class="col-2"><a href="{{ url_for('book_info', book_id=item.book_id) }}"><img src="{{ item.cover_img }}" alt="book cover" class="img-fluid"></a></div>
                <div class="col-5"><a href="{{ url_for('book_info', book_id=item.book_id) }}"><h4 class="px-2">{{ item.title }}</h4></a></div>
                <div class="col-2"><h5>${{ "%.2f"|format(item.price|float) }}</h5></div>
                <form method="POST" action="/update-cart/{{ item.book_id }}" class="col-2">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="number" class="quantity-selector input-sm form-control" name="quantity" min="0" value="{{ quantity }}" max="{{ item.stock }}">
                    <button type="submit" class="btn update-btn">Update</button>
                </form>
                <form method="POST" action="/delete-buying-cart/{{ item.book_id }}" class="col-1">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" name="button" class="btn"><i class="fas fa-times"></i></button>
                </form>
            </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="col-md-3 col-12 order-summary d-lg-block">
    <div class="card">
      <div class="card-header">
        <p>Order Summary
        <span>{{ buy_count }} item(s)</span></p>
      </div>
      <div class="card-body">
        <p class="card-text">Subtotal<span>${{ "%.2f"|format(total_price|float) }}</span></p>
        {% if buy_count == 0 %}
          <p class="card-text">Shipping <span>-</span></p>
          <p class="card-text bolder">Estimated Total <span>-</span></p>
        {% else %}
        <p class="card-text">Shipping <span>$5.00</span></p>
        <p class="card-text bolder">Estimated Total <span>${{ "%.2f"|format((total_price|float)+5) }}</span></p>
        {% endif %}
      </div>
    </div>
    {% if buy_count == 0 %}
            <button type="submit" disabled class="check-out-button btn" name="button">Check Out</button>
    {% else %}
      <div>
        <form action="/checkout" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          <button type="submit" class="check-out-button btn" name="button">Check Out</button>
        </form>
      </div>
    {% endif %}
    <div class="show-payment">
      <p>Accepted Payment Method</p>
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-amex"></i>
      <i class="fab fa-google-pay"></i>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
