{% extends "base.html" %}

{% block title %}BrasBasahBooks Check Out{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/checkout.css">
{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}

<h2 class="page-name"><span>Check Out</span></h2>
<div class="row">
    <div class="col-lg-9 col-12">
        <h3>Shipping Information</h3>
        <form method="POST" class="row checkout-form" id="checkout" action="/create-checkout-session/{{ total_price }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h5>Shipping Address</h5>
            <div class="form-group col-12">
                {{ render_field(form.name, class="form-control") }}
            </div>
            <div class="form-group col-6">
                {{ render_field(form.contact_num, class="form-control") }}
            </div>
            <div class="form-group col-6">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group col-12" id="address_text">
                {{ render_field(form.address, class="form-control") }}
            </div>
            <div class="col-9">
            </div>
            <div class="col-md-3 col-12">
                <button type="submit" class="btn submit-btn" name="button">Check Out</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-12 order_summary">
      <table>
        <thead>
          <tr>
              <th colspan="4"><h5>In Your Cart <span>({{ buy_count }})</span>  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Cart</a></h5></th>
          </tr>
        </thead>
        <tbody>
        {% if buy_count != 0 %}
            <tr class="label">
                <td colspan="4"><h6>Buy</h6></td>
            </tr>
            {% for key in buy_cart %}
            <tr class="products">
                <td><img src="{{ books_dict[key].cover_img }}"></td>
                <td style="text-align:left;">{{ books_dict[key].title }}</td>
                <td>X{{ buy_cart[key] }}</td>
                <td>${{ "%.2f"|format(books_dict[key].price|float) }}</td>
            {% endfor %}
        {% endif %}
          <tr class="bottom-sticky">
              <td colspan="4">
                  <h6>Subtotal <span class="float_right">${{ "%.2f"|format(before_discount|float) }}</span></h6>
                  <h6>Shipping <span class="float_right" id="shipping_fee">$5.00</span></h6>
                  <h6>Coupon Applied <span class="float_right">-${{"%.2f"|format(discount_applied|float)}}</span></h6>
                  <h4>Total To Pay <span class="float_right" id="total_pay">${{ "%.2f"|format((total_price|float)+5) }}</span></h4>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% if buy_count != 0 %}
            <p class="cart-label">For buying</p>
          <div class="buying-cart">
              <table class="table table-striped">
                <tbody>
                {% for key in buy_cart %}
                    <tr>
                        <form method="POST" action="/update_cart/{{ key }}">
                            <td class="col-3"><img src="{{ books_dict[key].cover_img }}" alt="book cover"></td>
                            <td class="col-7">
                                <h4 class="d-none d-lg-block">{{ books_dict[key].title }}</h4>
                                <p class="d-block d-lg-none">{{ books_dict[key].title }}</p>#{{ key }}
                                #{{ key }}
                            </td>
                            <td class="col-1">
                                <h5 class="d-none d-lg-block">${{ "%.2f"|format(books_dict[key].price|float) }}</h5>
                                <p class="d-block d-lg-none">${{ "%.2f"|format(books_dict[key].price|float) }}</p>
                            </td>
                            <td class="col-1">
                                <input type="number" class="quantity-selector" name="quantity" min="0" value="{{ buy_cart[key] }}">
                                <button type="submit" class="btn update-btn" onclick="update_cart()">Update</button>
                            </td>
                        </form>
                        <form method="POST" action="/delete_buying_cart/{{ key }}">
                            <td class="col-1"><button type="submit" onclick="delete_buying_cart()" name="button" style="float:right;" class="btn"><i class="fas fa-times"></i></button></td>
                        </form>
                    </tr>
                {% endfor %}
                  </tbody>
              </table>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    function get_radio_value(method) {
        if (method.value == 'Standard Delivery'){
            shipping_fee = 5;
            display = '$5.00';

            document.getElementById('address_text').style.display = 'block';
        }else{
            shipping_fee = 0;
            display = 'FREE';
            document.getElementById('address_text').style.display = 'none';
        };
        document.getElementById('shipping_fee').innerHTML = display;
        total = {{ total_price }};
        var total_price = shipping_fee + total
        total_price = total_price.toFixed(2)
        total_price = total_price.toString()
        displayT = '$' + total_price
        document.getElementById('total_pay').innerHTML = displayT;
      }


</script>
{% endblock %}

