{% extends "base.html" %}

{% block title %}BrasBasahBooks Check Out{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/checkout.css">
{% endblock %}

{% block content %}
{% from "includes/_form.html" import render_field %}

<h2 class="page-name"><span>Check Out</span></h2>
<div class="row">
    <div class="col-lg-9 col-12">
        <h3>Shipping Information</h3>
        <form method="POST" class="row checkout-form" id="checkout" action="/create-checkout-session">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <h5>Shipping Address</h5>
            <div class="form-group col-12">
                {{ render_field(form.name, class="form-control") }}
            </div>
            <div class="form-group col-6">
                {{ render_field(form.contact_num, class="form-control") }}
            </div>
            <div class="form-group col-6">
                {{ render_field(form.email, class="form-control") }}
            </div>
            <div class="form-group col-12" id="address_text">
                {{ render_field(form.address, class="form-control") }}
            </div>
            <div class="col-9">
            </div>
            <div class="col-md-3 col-12">
                <button type="submit" class="btn submit-btn" name="button">Check Out</button>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-12 order_summary">
      <table>
        <thead>
          <tr>
              <th colspan="4"><h5>In Your Cart <span>({{ buy_count }})</span>  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Cart</a></h5></th>
          </tr>
        </thead>
        <tbody>
        {% if buy_count != 0 %}
            <tr class="label">
                <td colspan="4"><h6>Buy</h6></td>
            </tr>
            {% for item, quantity in cart_items %}
            <tr class="products">
                <td><a href="{{  url_for('book_info', book_id=item.book_id)  }}"><img src="{{ item.cover_img }}" alt="book cover" class="img-fluid"></a></td>
                <td id="title"">{{ item.title }}</td>
                <td>X{{ quantity }}</td>
                <td>${{ "%.2f"|format(item.price|float) }}</td>
            {% endfor %}
        {% endif %}
          <tr class="bottom-sticky">
              <td colspan="4">
                  <h6>Shipping <span class="float_right" id="shipping_fee">$5.00</span></h6>
                  <h4>Total To Pay <span class="float_right" id="total_pay">${{ "%.2f"|format((total_price|float)+5) }}</span></h4>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          {% if buy_count != 0 %}
            <p class="cart-label">For buying</p>
          <div class="buying-cart">
              <table class="table table-striped">
                <tbody>
                {% for item, quantity in cart_items %}
                    <tr>
                        <form method="POST" action="/update-cart/{{ item.book_id }}">
                            <td class="col-3"><img src="{{ item.cover_img }}" alt="book cover"></td>
                            <td class="col-7">
                                <h4 class="d-none d-lg-block">{{ item.title }}</h4>
                                <p class="d-block d-lg-none">{{ item.title }}</p>
                            </td>
                            <td class="col-1">
                                <h5 class="d-none d-lg-block">${{ "%.2f"|format(item.price|float) }}</h5>
                                <p class="d-block d-lg-none">${{ "%.2f"|format(item.price|float) }}</p>
                            </td>
                            <td class="col-1">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input type="number" class="quantity-selector input-sm form-control" name="quantity" min="0" value="{{ quantity }}" max="{{ item.stock }}">
                                <button type="submit" class="btn update-btn">Update</button>
                            </td>
                        </form>
                        <form method="POST" action="/delete-buying-cart/{{ item.book_id }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <button type="submit" name="button" class="btn"><i class="fas fa-times"></i></button>
                        </form>
                    </tr>
                {% endfor %}
                  </tbody>
              </table>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}

