{% extends "base.html" %}

{% block title %}BrasBasahBooks Cart{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/order_confirmation.css">

{% endblock %}

{% block content %}
  <section>
    <h1>Thank you for shopping with us!</h1>
    <p>
      You will be redirected to my orders page after <span id="seconds">5</span> seconds. Please do not refresh the page.<br>
      Should you have any enquiries, please do not hesitate to <a href="/enquiry">contact us</a>.
    </p>
  </section>
</body>
</html>

{% endblock %}

{% block scripts %}
    <script>
        timeLeft = 5;

        function countdown() {
            timeLeft--;
            document.getElementById("seconds").innerHTML = String( timeLeft );
            if (timeLeft > 0) {
                setTimeout(countdown, 1000);
            }
        };

       setTimeout(countdown, 1000);

       setTimeout(function(){
          window.location.href = '/my-orders';
       }, 5000);
  </script>

{% endblock %}
