{% extends "base.html" %}

{% block title %}BrasBasahBooks Book Info{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/books.css">
<link rel="stylesheet" href="/static/css/OTP.css">

{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "All Books": url_for("books", sort_this="all"),
  book.title: "#"
}) }}
<!-- ----------------------------- Filter ----------------------------- -->
<div class="container">
  <div class="box">
    <div>
      <form action="" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
          <div class="col-sm-6">
            <h2>Create a review (Less than 200 words):</h2>
          </div>
        </div>
        <div>
          {{ render_field(form.title, class="form-control") }}
          <br>
          {{ render_field(form.review, class="form-control", rows="10") }}
          <br>
        </div>
        <div>
          <button type="submit" class="btn btn-primary mb-2" style="float:right;">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- put js here -->
{% endblock %}
