{% extends "base.html" %}

{%block stylesheets %}
<link rel="stylesheet" href="/static/css/about.css">
{%endblock%}

{% block content %}

<div class="container overflow-hidden">
    <div class="container-bg">
        <div class="privacyWrap">
            <h3 style="text-align: center;">BRASBASAHBOOKS WEBSITE TERMS &amp; CONDITIONS</h3>
            <p class="mb20" style="text-align: center;" >Welcome to our Site. Please read the following Website Terms and Conditions carefully
                (including our Privacy Policy) (collectively "Website Conditions") before accessing this Site, using the
                Services or ordering Products (all defined below), so that you are aware of your legal rights and
                obligations with respect to BrasBasahBooks Book Stores of Singapore Pte. Ltd. and its related entities,
                affiliates and subsidiaries (individually and collectively, "BrasBasahBooks").<br>
                By accessing this Site, using the Services, or ordering Products, you hereby agree to be legally bound
                by these Website Conditions. If you do not accept these Website Conditions, please leave the Site and
                discontinue use of the Services immediately, and do not order any Products via the Site.
            </p>
            <ol>
                <li class="mb5">
                    <h6>1.</h6>
                    <p>Agreement</p>
                </li>
                <li>
                    <ol>
                        <li>
                            <h6>1.1</h6>
                            <p>You hereby represent and warrant that:</p>
                        </li>
                        <li>
                            <ol>
                                <li>
                                    <h6>1.1.1</h6>
                                    <p>you have read and agree to these Website Conditions and our Privacy Policy;</p>
                                </li>
                                <li>
                                    <h6>1.1.2</h6>
                                    <p>you are at least 18 years old and have the necessary legal capacity, right, power
                                        and authority to agree to these Website Conditions;</p>
                                </li>
                                <li>
                                    <h6>1.1.3</h6>
                                    <p>you are authorised to bind the entity (yourself or your company) on whose behalf
                                        you are accessing this Site, using the Services or ordering Products and such
                                        entity agrees to be bound by these Website Conditions; and</p>
                                </li>
                                <li>
                                    <h6>1.1.4</h6>
                                    <p>all of the information provided by you to BrasBasahBooks (including without
                                        limitation personal particulars and contact information) is accurate and
                                        complete.</p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            <h6>1.2</h6>
                            <p>BrasBasahBooks reserves the right to change, modify, suspend or discontinue the whole or any
                                portion of the Site, Services or Products at any time. BrasBasahBooks may also impose limits
                                on certain features or restrict your access to parts or the entire Services or Site
                                without notice or liability.</p>
                        </li>
                        <li>
                            <h6>1.3</h6>
                            <p>KBrasBasahBooks may from time to time vary or amend these Website Conditions by posting the
                                amended Website Conditions at this Site. Any use of the Services after the amendment of
                                these Website Conditions will be deemed to be acceptance of the amended Website
                                Conditions by you. If you do not agree to the amended Website Conditions, you have the
                                right to close your Account and/or cease using the Services.</p>
                        </li>
                    </ol>
                </li>
            </ol>
        </div>
    </div>

</div>

{% endblock %}
