{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Reset Password</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-4">
          {{ render_field(form.email, "Please enter a valid email like example@email.com", class="form-control", placeholder="Email") }}
        </div>
        <input type="submit" value="NEXT" class="input-group btn"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
