{% extends "base.html" %}

{% block title %}Change Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_user_sidebar.html" import user_sidebar %}
{% from "includes/_login_render_field.html" import render_field %}

{# Displays flash sign up error #}
{% macro display_flash_error(category) %}
  {% with messages = get_flashed_messages(category_filter=(category)) %}
    {% if messages %}
      {% for message in messages %}
        <div class="invalid-feedback display-feedback">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
{% macro display_error_span(error_name) %}
  {% if g.errors.pop(error_name, False) %}
    <span class="d-none display-invalid"></span>
  {% endif %}
{% endmacro %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "My Account": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {{ user_sidebar("Change Password") }}
    <div class="col-lg-10 py-3 px-5">
      <h2>Change Password</h2>
      <hr>
      <form class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3 row">
          <label for="current_password" class="col-md-2 col-form-label text-md-end">Current Password</label>
          <div class="col-md-10">
            {{ display_error_span("CurrentPasswordError") }}
            {{ render_field(form.current_password, "Please enter your password", class="form-control") }}
            {{ display_flash_error("current-password-error") }}
          </div>
        </div>
        <div class="mb-3 row">
          <label for="new_password" class="col-md-2 col-form-label text-md-end">New Password</label>
          <div class="col-md-10">
            {{ display_error_span("NewPasswordError") }}
            {{ render_field(form.new_password, "Password should be at least 8 characters long", class="form-control") }}
            {{ display_flash_error("new-password-error") }}
          </div>
        </div>
        <div class="mb-3 row">
          <label for="confirm_password" class="col-md-2 col-form-label text-md-end">Confirm Password</label>
          <div class="col-md-10">
            {{ render_field(form.confirm_password, "Please re-enter your new password", class="form-control") }}
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-md-2 col-form-label"></div>
          <div class="col-md-10">
            <input type="submit" value="Change Password" class="btn defaultbtn"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
