{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Reset Password</h2>
      Reset password for {{ email }}
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-4">
          {{ render_field(form.new_password, "Password should be at least 8 characters long", class="form-control", placeholder="New Password") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.confirm_password, "Please confirm your new password", class="form-control", placeholder="Confirm Password") }}
        </div>
        <input type="submit" value="CONFIRM" class="input-group btn"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}
