{% extends "base.html" %}

{% block title %}My Account - {{ username }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/user.css">
{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_user_sidebar.html" import user_sidebar %}
{% from "includes/_login_render_field.html" import render_field %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "My Account": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
  <div class="row">
    {# Render sidebar #}
    {{ user_sidebar("My Account") }}
    <div class="col-lg-10 py-3 px-5">
      <h2>Account settings</h2>
      <hr>
      <form method="POST" enctype="multipart/form-data" action="">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-3 row">
          <label for="picture" class="col-md-2 col-form-label text-md-end mt-auto">Picture</label>
          <div class="col-md-10">
            <div class="profile-pic-wrapper align-bottom d-inline-block">
              <div class="img-wrapper img-1-1">
                <img src="{{ picture_path }}" alt="{{ username }}" id="profilePic">
              </div>
            </div>
            <label for="picture" tabindex="0" class="profile-pic-input align-bottom">Upload Image</label>
          </div>
          {{ render_field(form.picture, accept="image/*", class="d-none", id="picture") }}
        </div>
        <div class="mb-3 row">
          <label for="username" class="col-md-2 col-form-label text-md-end">Username</label>
          <div class="col-md-10">
            <div class="form-control no-format-form" id="username">{{ username }}</div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="name" class="col-md-2 col-form-label text-md-end">Name</label>
          <div class="col-md-10">
            {{ render_field(form.name, class="form-control", id="name") }}
          </div>
        </div>
        <div class="mb-3 row">
          <label for="email" class="col-md-2 col-form-label text-md-end">Email</label>
          <div class="col-md-10">
            <div class="form-control no-format-form" id="email">{{ email }}</a></div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="password" class="col-md-2 col-form-label text-md-end">Password</label>
          <div class="col-md-10">
            <div class="form-control no-format-form" id="password">******  <a href="{{ url_for('password_change') }}">Change</a></div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="phone-no" class="col-md-2 col-form-label text-md-end">Phone Number</label>
          <div class="col-md-10">
            {{ render_field(form.phone_number, class="form-control", id="phone-no") }}
          </div>
        </div>
        <div class="mb-3 row">
          <label for="phone-no" class="col-md-2 col-form-label text-md-end">2FA</label>
          <div class="col-md-10">
            {% if twoFA_enabled %}
            <p>Enabled</p>
              <div class="form-control no-format-form" id="phone-no"><a href="{{ url_for('google_authenticator_disable') }}">Disable</a></div>
            {% else %}
            <p>Disabled</p>
            <div class="form-control no-format-form" id="phone-no"><a href="{{ url_for('google_authenticator') }}">Enable</a></div>
            {% endif %}
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-md-2 col-form-label"></div>
          <div class="col-md-10">
            <input type="submit" value="Save changes" class="btn defaultbtn"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/account.js"></script>
{% endblock %}
