{% extends "base.html" %}
{% block title %}Sign Up Verification{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Google Authenticator Set Up</h2>
      <h5>1. Download Google Authenticator on your phone.</h5>
      <h5>2. Open The Application and press the bottom right button.</h5>
      <h5>3. Select setup key.</h5>
      <h5>4. Copy this setup key {{secret_token}} and enter.</h5>
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {# Flash login error message #}
        {% with messages = get_flashed_messages(category_filter=("form-error")) %}
          {% if messages %}
            {% for message in messages %}
              <div class="flash-error alert p-2 mb-4" role="alert">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="mb-4">
          {{ render_field(form.otp, "Please enter your one-time password", class="form-control", placeholder="OTP") }}
        </div>
        <input type="submit" value="SUBMIT" class="input-group btn"/>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}
