{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Login</h2>
    </div>
    <div class="card-body">
      <form id="loginForm" class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {# Login failed message #}
        <div id="loginFailed" class="d-none flash-error alert p-2 mb-4" role="alert">
          Your account and/or password is incorrect, please try again
        </div>
        {# Login error message #}
        <div id="loginError" class="d-none flash-error alert p-2 mb-4" role="alert">
          An unexpected error has occurred, please try again later.
        </div>
        <div class="mb-4">
          {{ render_field(form.username, "Please enter your username/email", class="form-control", placeholder="Username / Email") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.password, "Please enter your password", class="form-control", placeholder="Password") }}
        </div>
        <div class="mb-4"> 
          {{ render_field(form.recaptcha, "Please complete this verification", class="form-control", placeholder="ReCaptcha") }}
        </div>
        <input id="loginSubmitButton" type="submit" value="LOG IN" class="input-group btn disabled"/>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Don't have an account?&nbsp<a href="{{ url_for('sign_up') }}">Sign Up</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="{{ url_for('password_forget') }}">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="/static/js/login.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
