{% extends "base.html" %}

{% block title %}My Orders{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="/static/css/user.css">
<link rel="stylesheet" href="/static/css/checkout.css">
<link rel="stylesheet" href="/static/css/manage_orders.css">

{% endblock %}

{% block content %}
{% from "includes/_render_breadcrumb.html" import render_breadcrumb %}
{% from "includes/_user_sidebar.html" import user_sidebar %}

{# Render breadcrumbs #}
{{ render_breadcrumb({
  "Home": url_for("home"),
  "My Account": url_for("account"),
  "My Orders": "#"
}) }}

{# Container to contain display for user related things #}
<div class="container user-container">
    <div class="row">
        {# Render sidebar #}
        {{ user_sidebar("My Orders") }}
        <div class="col-lg-10 py-3 px-5">
            <h2>My Orders</h2>
            <hr>

            {# Tab list #}

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                <button class="nav-link active" id="all-order-tab" data-bs-toggle="tab" data-bs-target="#all-order" type="button" role="tab" aria-controls="all-order" aria-selected="true">All</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link" id="new-order-tab" data-bs-toggle="tab" data-bs-target="#new-order" type="button" role="tab" aria-controls="new-order" aria-selected="false">Confirmed</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link" id="Confirmed-order-tab" data-bs-toggle="tab" data-bs-target="#Confirmed-order" type="button" role="tab" aria-controls="Confirmed-order" aria-selected="false">To Ship</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link" id="Shipped-order-tab" data-bs-toggle="tab" data-bs-target="#Shipped-order" type="button" role="tab" aria-controls="Shipped-order" aria-selected="false">To Receive</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link" id="delivered-order-tab" data-bs-toggle="tab" data-bs-target="#delivered-order" type="button" role="tab" aria-controls="delivered-order" aria-selected="false">Completed</button>
                </li>

                <li class="nav-item" role="presentation">
                <button class="nav-link" id="canceled-order-tab" data-bs-toggle="tab" data-bs-target="#canceled-order" type="button" role="tab" aria-controls="canceled-order" aria-selected="false">Canceled</button>
                </li>

            </ul>

            {# Content #}
            <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="all-order" role="tabpanel" aria-labelledby="all-order-tab">
                    {% if all_order|length == 0 %}
                    <br>
                    <h4>You have no orders yet.</h4>
                    {% else %}
                    {% for order in all_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}


                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}

                </div>

                <div class="tab-pane fade" id="new-order" role="tabpanel" aria-labelledby="new-order-tab">
                    {% if confirm_order|length == 0 %}
                    <br>
                    <h4>You have no confirmed orders.</h4>
                    {% else %}
                    {% for order in confirm_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="Confirmed-order" role="tabpanel" aria-labelledby="Confirmed-order-tab">
                    {% if confirm_order|length == 0 %}
                    <br>
                    <h4>You have no shipped orders.</h4>
                    {% else %}
                    {% for order in confirm_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="Shipped-order" role="tabpanel" aria-labelledby="Shipped-order-tab">
                    {% if ship_order|length == 0 %}
                    <br>
                    <h4>You have no received orders.</h4>
                    {% else %}
                    {% for order in ship_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="delivered-order" role="tabpanel" aria-labelledby="delivered-order-tab">
                    {% if deliver_order|length == 0 %}
                    <br>
                    <h4>You have no delivered orders.</h4>
                    {% else %}
                    {% for order in deliver_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <a href="/review/{{order.get_order_id()}}">Write a review</a>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="tab-pane fade" id="canceled-order" role="tabpanel" aria-labelledby="canceled-order-tab">
                    {% if canceled_order|length == 0 %}
                    <br>
                    <h4>You have no canceled orders.</h4>
                    {% else %}
                    {% for order in canceled_order %}
                    <div class="row">
                        <div class="order-card col-md-9 col-12" style="position: relative;">
                            <h2 style="text-transform: uppercase; font-weight: bold;">{{ order.get_order_status()}}</h2>
                            <p>Order #{{ order.get_order_id() }}</p>
                            <div class="row user-info" style="position: absolute; bottom: 0;">
                                <p>Name: {{ order.get_name() }}</p>
                                <div class="col-6">
                                    <h5 style="font-weight: 500;">Contact</h5>
                                    <p>Contact Number: {{ order.get_contact_num() }}</p>
                                    <p>Email: {{ order.get_email() }}</p>
                                </div>
                                <div class="col-6">
                                    <h5>Shipping</h5>
                                    <p>Shipping Method: {{ order.get_ship_method() }}</p>
                                    <p>Shipping Address: {{ order.get_ship_address() }}</p>
                                </div>

                                {% if (order.get_order_status() == "Ordered") or (order.get_order_status() == "Confirmed")%}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="#" id="{{ order.get_order_id() }}" onclick="cancel_this(this)" class="btn btn-danger">Cancel Order</a>
                                </div>
                                {% elif order.get_order_status() == "Shipped" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/my-orders/confirm-delivery/{{order.get_order_id()}}" class="btn defaultbtn">Confirm Delivery</a>
                                </div>
                                {% elif order.get_order_status() == "Canceled" %}
                                <div class="bottom-right-padding" style="text-align: right;">
                                    <a href="/reorder" class="btn defaultbtn">Re-Order</a>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                        <br>
                        <div class="col-md-3 col-12 order_summary">
                            <table>
                            <thead>
                                <tr>
                                    <th colspan="4"><h5>Order Summary ({{ order.get_item_count() }})</h5></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% if order.get_buy_item() != '' %}
                                <tr class="label">
                                    <td colspan="4"><h6>Buy</h6></td>
                                </tr>
                                {% for book in order.get_buy_item() %}
                                <tr class="products">
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>X{{ order.get_buy_item()[book] }}</td>
                                    <td>${{ books_dict[book].price }}</td>
                                {% endfor %}
                            {% endif %}
                            {% if order.get_rent_item() != '' %}
                                <tr class="label">
                                    <td colspan="4">
                                        <h6>Rent
                                        </h6>
                                    </td>
                                </tr>
                                {% for book in order.get_rent_item() %}
                                <tr class="products">
                                    {% if book != 'Returned' %}
                                    <td><img src="{{ books_dict[book].cover_img }}"></td>
                                    <td colspan="2" style="text-align:left;">{{ books_dict[book].title }}</td>
                                    <td>{{ "$%.2f"|format((books_dict[book].price|float)*0.1) }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                                <tr class="bottom-sticky">
                                    <td colspan="4">
                                        <h5>Total Price <span class="float_right">{{ "$%.2f"|format(order.get_total_price()) }}</span></h5>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
  function cancel_this(element){
    text = 'Are you sure you want to cancel this order? (Click Yes to cancel)'
    if (confirm(text) == true) {
        order_id = element.id;
        element.href = '/admin/manage_orders/cancel_order/' + order_id;
    }
  }
</script>

{% endblock %}
