{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block navbar %}
  {% include 'includes/_login_navbar.html' %}
{% endblock %}

{% block content %}
{% from "includes/_login_render_field.html" import render_field %}
{# Displays flash sign up error #}
{% macro display_flash_error(category) %}
  {% with messages = get_flashed_messages(category_filter=(category)) %}
    {% if messages %}
      {% for message in messages %}
        <div class="invalid-feedback display-feedback">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endmacro %}
{% macro display_error_span(error_name) %}
  {% if g.errors.pop(error_name, False) %}
    <span class="d-none display-invalid"></span>
  {% endif %}
{% endmacro %}

<div class="d-flex justify-content-center align-items-center h-100">
  <div class="card">
    <div class="card-header">
      <h2 class="m-0">Sign Up</h2>
    </div>
    <div class="card-body">
      <form class="needs-validation" method="POST" action="" novalidate>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="mb-4">
          {{ display_error_span("SignUpUsernameError") }}
          {{ render_field(form.username, "Username should be 3-20 characters long", class="form-control", placeholder="Username") }}
          {{ display_flash_error("sign-up-username-error") }}
        </div>
        <div class="mb-4">
          {{ display_error_span("SignUpEmailError") }}
          {{ render_field(form.email, "Please enter a valid email like example@email.com", class="form-control", placeholder="Email") }}
          {{ display_flash_error("sign-up-email-error") }}
        </div>
        <div class="mb-4">
          {{ display_error_span("SignUpPasswordError") }}
          {{ render_field(form.password, "Password should be at least 8 characters long", class="form-control", placeholder="Password") }}
          {{ display_flash_error("sign-up-password-error") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.confirm, "Please confirm your password", class="form-control", placeholder="Confirm Password") }}
        </div>
        <div class="mb-4">
          {{ render_field(form.recaptcha, "Please complete this verification", class="form-control", placeholder="ReCaptcha" ) }}
        </div>
        <input type="submit" value="SIGN UP" class="input-group btn"/>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Already have an account?&nbsp<a href="{{ url_for('login') }}">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
